body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #ECECEC;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #083880;
}

.logo .highlight {
    color: #C96522;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
}

#hero {
    background: url('imgs/fundo.jpg') no-repeat center center/cover;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    position: relative;
    padding-left: 250px;
}

.hero-content {
    max-width: 600px;
}

.hero-content .hello {
    background-color: #F7931E;
    color: #03235e;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.6rem;
}

.hero-content .im {
    font-size: 1.2rem;
}

.hero-content h1 {
    font-size: 50px;
    margin: 10px 0;
    color: #03235e;
}

.hero-content .role {
    font-size: 24px;
    color: #C96522;
}

.hero-content .certification {
    font-size: 18px;
    margin: 20px 0;
}

.hero-content .cisco-logo {
    vertical-align: middle;
    width: 55px;
    margin-right: 5px;
}

.hero-content .buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C96522;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #083880;
}

.container {
    padding: 20px;
    text-align: center;
}

.section-title {
    color: #C96522;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    margin-bottom: 20px;
}

footer {
    background-color: #ECECEC;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
}

/* About Me Section */
#about-me {
    padding: 60px 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

.about-me-container {
    display: flex;
    align-items: center;
    max-width: 1000px;
}

.about-me-container img {
    border-radius: 10px;
    max-width: 500px;
    margin-right: 40px;
}

.about-me-content {
    max-width: 600px;
}

.about-me-content h2 {
    font-size: 36px;
    color: #083880;
}

.about-me-content h2 .highlight {
    color: #C96522;
}

.about-me-content p {
    font-size: 24px;
    margin: 10px 0 20px;
    color: #083880;
}

.about-me-content ul {
    list-style: none;
    padding: 0;
}

.about-me-content ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-links img {
    width: 100%;
    height: 100%;   
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

.skills-title {
    font-size: 2.5em;
    color: #ff7f00;
    text-align: center;
    margin-bottom: 20px;
}

.skills-title span {
    color: #004080;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    max-width: 800px;
}

.skill {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    align-items: center;
    justify-content: center;
}

.skill:hover {
    transform: scale(1.05);
}

.skill img {
    max-width: 50px;
    margin-bottom: 10px;
}

.skill p {
    margin: 0;
    font-weight: bold;
    color: #003366;
}


/* Experiences Section */

.section-title {
    color: #083880;
    text-align: center;
    margin: 40px 0 20px;
    font-size: 2em;
}

.section-title .highlight {
    color: #C96522;
}

.experience {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company-logo {
    max-width: 80px;
    margin-right: 20px;
}

.experience-details {
    max-width: 1000px;
}

.experience-period {
    color: #083880;
    text-align: start;
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-role {
    color: #C96522;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: start;
}

.company-name {
    color: #083880;
    font-weight: bold;
}

.experience-stack {
    color: #083880;
}
